@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Moon+Dance&family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap');

/* .carousel-img {
    max-width: 100%;
    height: 700px;
    
} */

.carousel-img {
    max-height: 584px;
    object-fit: cover;
}

.font-color{
    color: #231D4F;
}
.btn-background {
    background: #ffc8dd;
    
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}
.box-shadow {
    box-shadow: 10px 10px 8px #888888;
}
.border-radius {
    border-radius: 20px;
}

.convention_badge {
    position: relative;
    left: 50%;
    bottom: 1%;
}

.convention_hover:hover{
     transform: scale(1.1) translateY(-20px);
     transition: transform .5s ease-out;
}

.convention_toast {
    border-left: 7px solid #3F87F5;
}

.check_color {
    color: #7e76b9;
   
}
